services:
  postgres-db:
    image: postgres:latest
    environment:
      POSTGRES_DB: innovatec
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - /home/eb/mnt/quarkus-adressebok:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - app-network

  adressebok-api:
    image: adressebok-api:jvm
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres-db:5432/innovatec
      QUARKUS_DATASOURCE_USERNAME: ab_user
      QUARKUS_DATASOURCE_PASSWORD: user123
      REPOSITORY_TYPE: database
      QUARKUS_HTTP_PORT: 3000
      QUARKUS_HTTP_HOST: 0.0.0.0      
      #QUARKUS_HTTP_CORS: "true"
      #QUARKUS_HTTP_CORS_ORIGINS: "*"  # Allow all origins (dev only)
      # Or specific: QUARKUS_HTTP_CORS_ORIGINS: "http://localhost:8080,http://127.0.0.1:8080"
      #QUARKUS_HTTP_CORS_HEADERS: "accept, authorization, content-type, x-requested-with"
      #QUARKUS_HTTP_CORS_METHODS: "GET, POST, PUT, DELETE, OPTIONS"      
    ports:
      - "3000:3000"
    depends_on:
      - postgres-db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
